<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-center">
  <form class="text-center" style="width: 50%;" action="/apply/submit" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingName" name="name" placeholder="Full Name">
      <label for="floatingName">Full Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name.branchyop@jecrc.ac.in">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingRollNo" name="roll_no" placeholder="RTU Roll Number">
      <label for="floatingRollNo">RTU Roll Number</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingPhone" name="phone" placeholder="WhatsApp Number">
      <label for="floatingPhone">WhatsApp Number</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" name="club_priority_1" aria-label="Club Priority 1">
        <option selected>Club Priority 1</option>
        <option value="Avyaan">Avyaan</option>
        <option value="Enigma">Enigma</option>
        <option value="Fotografreaks">Fotografreaks</option>
        <option value="Khalas">Khalas Bhangra Crew</option>
        <option value="Atrangi">Atrangi</option>
        <option value="FnF">FnF</option>
        <option value="Adaa">Adaa</option>
        <option value="Aashayein">Aashayein</option>
        <option value="Soch">Soch</option>
        <option value="Suhasini">Susahini</option>
        <option value="Zarurat">Zarurat</option>
        <option value="Moonriders">Moonriders</option>
        <option value="Xananoids">Xananoids</option>
      </select>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" name="club_priority_2" aria-label="Club Priority 2">
        <option selected>Club Priority 2</option>
        <option value="Avyaan">Avyaan</option>
        <option value="Enigma">Enigma</option>
        <option value="Fotografreaks">Fotografreaks</option>
        <option value="Khalas">Khalas Bhangra Crew</option>
        <option value="Atrangi">Atrangi</option>
        <option value="FnF">FnF</option>
        <option value="Adaa">Adaa</option>
        <option value="Aashayein">Aashayein</option>
        <option value="Soch">Soch</option>
        <option value="Suhasini">Susahini</option>
        <option value="Zarurat">Zarurat</option>
        <option value="Moonriders">Moonriders</option>
        <option value="Xananoids">Xananoids</option>
      </select>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" name="club_priority_3" aria-label="Club Priority 3">
        <option selected>Club Priority 3</option>
        <option value="Avyaan">Avyaan</option>
        <option value="Enigma">Enigma</option>
        <option value="Fotografreaks">Fotografreaks</option>
        <option value="Khalas">Khalas Bhangra Crew</option>
        <option value="Atrangi">Atrangi</option>
        <option value="FnF">FnF</option>
        <option value="Adaa">Adaa</option>
        <option value="Aashayein">Aashayein</option>
        <option value="Soch">Soch</option>
        <option value="Suhasini">Susahini</option>
        <option value="Zarurat">Zarurat</option>
        <option value="Moonriders">Moonriders</option>
        <option value="Xananoids">Xananoids</option>
      </select>
    </div>
    <div class="form-floating mb-3">
      <input type="submit" class="btn btn-outline-danger" style="padding: 7px 30px;">
    </div>
  </form>
</div>