<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-center">
  <form class="text-center" style="width: 50%;" action="/apply/submit" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingName" name="name" placeholder="Full Name">
      <label for="floatingName">Full Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name.branchyop@jecrc.ac.in">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingRollNo" name="roll_no" placeholder="RTU Roll Number">
      <label for="floatingRollNo">RTU Roll Number</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" name="club_priority_1" aria-label="Club Priority 1">
        <option selected>Vertical Preference</option>
        <option value="Operations">Operations</option>
        <option value="Cultural">Cultural</option>
        <option value="Media">Media</option>
      </select>
    </div>

    <div class="form-floating mb-3">
      <input type="submit" class="btn btn-outline-danger" style="padding: 7px 30px;">
    </div>
  </form>
</div>