<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Our Team</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/sclogo.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/sclogo.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <h1 class="sitename">JECRC Student Council</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url('{{ url_for('static', filename='img/sc_back.jpg') }}')">
      <div class="container position-relative">
        <h1>Our Team</h1>
        <p>This is our Student Council team. The brains and brawns of our events.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li class="current">Team</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Cultural</h2>
        <p><span>Cultural</span> <span class="description-title">Vertical<br></span></p>
      </div><!-- End Section Title -->
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/cultural_head1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Suyash Chaklan</h4>
                <span>Head, Cultural Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/cultural_head3.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Armaan Sinwar</h4>
                <span>Head, Cultural Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/cultural_head2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Dev Saxena</h4>
                <span>Head, Cultural Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/cultural_dy1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Khushal Nirwan</h4>
                <span>Deputy Head, Cultural Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>


      <div class="container" data-aos="fade-up">
        <p></p>
      </div>

    </section><!-- /Starter Section Section -->
    <section id="starter-section2" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Graphics</h2>
        <p><span>Graphics</span> <span class="description-title">Vertical<br></span></p>
      </div><!-- End Section Title -->
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/graphics_head2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Shubham Saharan</h4>
                <span>Head, Graphics Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/graphics_head1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Dhruv Sharma</h4>
                <span>Head, Graphics Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->



          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/graphics_dy1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Ragini Joshi</h4>
                <span>Deputy Head, Graphics Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->



        </div>

      </div>


      <div class="container" data-aos="fade-up">
        <p></p>
      </div>

    </section>
    <section id="starter-section3" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Operations</h2>
        <p><span>Operations</span> <span class="description-title">Vertical<br></span></p>
      </div><!-- End Section Title -->
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/oper_head.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Mukul Sharma</h4>
                <span>Head, Operations Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/oper_head2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Nikhil Kumar</h4>
                <span>Head, Operations Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/oper_dy.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Yuvraj Singh Rathore</h4>
                <span>Deputy Head, Operations Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/oper_dy2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Jaivardhan Singh Shekhawat</h4>
                <span>Deputy Head, Operations Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/oper_dy3.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Kartik Dey</h4>
                <span>Deputy Head, Operations Vertical</span>
              </div>
            </div>
          </div>

        </div>

      </div>


      <div class="container" data-aos="fade-up">
        <p></p>
      </div>

    </section>
    <section id="starter-section4" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Media</h2>
        <p><span>Media</span> <span class="description-title">Vertical<br></span></p>
      </div><!-- End Section Title -->
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/media_head1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Nehal Jain</h4>
                <span>Head, Media Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/media_head2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Raghav Ojha</h4>
                <span>Head, Media Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/media_head3.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Yojna Dadani</h4>
                <span>Head, Media Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/media_dy1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Ananya Sharma</h4>
                <span>Deputy Head, Media Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/media_dy2.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Gyanchand Ramchandani</h4>
                <span>Deputy Head, Media Vertical</span>
              </div>
            </div>
          </div>

        </div>

      </div>


      <div class="container" data-aos="fade-up">
        <p></p>
      </div>

    </section>
    <section id="starter-section5" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Technical</h2>
        <p><span>Technical</span> <span class="description-title">Vertical<br></span></p>
      </div><!-- End Section Title -->
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/tech_head.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Vidit Tamboli</h4>
                <span>Head, Technical Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/img/heads dept/tech_dy1.jpg" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Archit Jain</h4>
                <span>Deputy Head, Technical Vertical</span>
              </div>
            </div>
          </div><!-- End Team Member -->



        </div>

      </div>


      <div class="container" data-aos="fade-up">
        <p></p>
      </div>

    </section>

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">JECRC Student Council</span>
          </a>
          <p>Established in 2022, we are the student body that makes the wonders happen. We would love to help you out!</p>
          <div class="social-links d-flex mt-4">

            <a href="https://www.instagram.com/jecrc.studentcouncil/"><i class="bi bi-instagram"></i></a>
            <a href="https://jecrcfoundation.com/"><i class="bi bi-browser-chrome"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#services">Clubs</a></li>

          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Student Development Cell </p>
          <p>1st Floor, E-Block, JECRC</p>
          <p>Jaipur</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>sdo@jecrc.ac.in</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">JECRC Student Council</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
